
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			<a routerLink="/weather" class="navbar-brand">ADD CITY</a>
		</div>

		<div class="collapse navbar-collapse">
		
			<ul class="nav navbar-nav navbar-right">

				<li><a style="cursor: pointer;" routerLink="/my-cities">MY SAVED CITIES</a></li>

			</ul>
		</div>
	</div>
</nav>