
.weather-search {
	width: 410px;
	margin:0 auto;
	overflow: hidden;
}

.weather-search form {
	padding-top: 5px;
}

.weather-search label {
	font-size: 16px;
	color:#12121;
	position: relative;
	letter-spacing: 1px;
	font-weight: 400;
	float:left;
	padding-right: 15px;
	padding-top: 2px;
}

.weather-search input {
	outline: none;
	position: relative;;
	border:none;
	border-bottom:1px solid #000;
	padding-left: 10px;
	padding-right: 10px;
	line-height: auto;
	font-size: 18px;
	font-weight: 400;
	color:#333;
	width: 200px;
	float:left;
}

.weather-search .btn-save {
	float:left;
	margin-left: 20px;
	position: relative;
	display: block;
	height: 28px;
	line-height: 25px;
	text-align: center;
	outline: none;
	border:none;
	border-radius:3px;
	background-color: #fff;
	border:1px solid #000;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	transition:all .4s ease-in;
	-webkit-transition:all .4s ease-in;
	-moz-transition:all .4s ease-in;
	-o-transition:all .4s ease-in;
	color:#333;
	cursor: pointer;
}

.weather-search .btn-save:hover {
	background-color: #000;
	color:#fff;
}

.weather-search__list {
	float:right;
}

