<section class="weather-search">

	<form action="" (ngSubmit) = "onSubmit(city)" #f = 'ngForm'>
		<label for="city">Enter a city:</label>
		<input type="text" #city id="city" required>
		<button class="btn-save">Add city</button>
	</form>

</section>
