
<div class="col-lg-4">

	<app-spinner *ngIf="showSpinner"> </app-spinner>

	<div class="weather-item" *ngIf="!showSpinner">
	
	<div class="weather-item__city">

		<h3>{{itemData.name}}</h3>

	</div>

	<div class="weather-item__icon">

		<img src="http://openweathermap.org/img/w/{{itemData.weather[0].icon}}.png" alt="">

	</div>


	<div class="weather-item__weather">

		<h3>{{itemData.weather[0].main}}</h3>

	</div>


	<div class="weather-item__temp">
 
		<h1>{{itemData.main.temp}} &deg;С</h1>

	</div>

	<div class="weather-item__data">

		<p> Humidity: <span>{{itemData.main.humidity}}%</span> </p>
		<p> Wind: <span>{{itemData.wind.speed}} m/s</span> </p>
		<p> Pressure: <span>{{itemData.main.pressure}} mm</span> </p>

	</div>

	<div class="weather-item__btn">
		
		<button class="btn btn-danger" (click) = "deleteCityFromStorage()" > Delete </button>

	</div>

   </div>

</div>

