
<section class="weather-list">

	<div class="container">

		<div class="row">

			<app-weather-item *ngFor="let weatherItem of weatherItems;
							   let i = index" 
							   [itemData] = "weatherItem" 
							   [itemIndex] = 'i'>
				
	       </app-weather-item>

		</div>

	</div>

</section>

