/* You can add global styles to this file, and also import other style files */
body {
	background-color:rgba(49,154,202,.51);
}




.weather-item {
	width: 100%;
	padding-bottom: 40px;
}


.weather-item__city h3{
	color:#fff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin:0;
	padding-bottom: 10px;
}

.weather-item__icon {
	height: 45px;
	width: 45px;
	margin:0 auto;
}

.weather-item__icon img {
	display: block;
	height: 100%;
	width: 100%;
}


.weather-item__temp h1{
	color:#fff;
	font-size: 75px;
	text-align: center;
	margin:0;
	padding-bottom: 10px;
}

.weather-item__weather h3{
	color:#fff;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1px;
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.weather-item__data {
	background-color: #3e6eab;
	padding-left: 20px;
	padding-top: 10px;
}

.weather-item__data p {
	color:#fff;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 10px;
	border-bottom:1px solid #dedede;
	margin:0;
	margin-bottom: 10px;
}

.weather-item__data p:last-child {
	border-bottom:0;
	margin-bottom: 0;
}

.weather-item__data span {
	font-size: 17px;
	font-weight: 600;
	color:#dedede;
	padding-left: 5px;
}

.weather-item__btn {
	padding-top: 20px;
	text-align: center;
}

.weather-list {
	position: relative;
	padding-top: 40px;
}