
<section class="weather-list">

	<div class="container">

		<div class="row" *ngIf = "!editeMode">
		
			<div class="col-lg-12">
				
				<div class="weather-list__h">
		
					<h3> You don't have saved cities yet ! </h3>
		
				</div>
		
			</div>
		
		</div>

		<div class="row" *ngIf = "editeMode">
			
		   <app-cities-item *ngFor="let weatherItem of weatherItems;
		   					  let i = index" 
							  [itemData] = "weatherItem"
							  [itemIndex] = 'i'>
				
	       </app-cities-item>

		</div>

	</div>

</section>
